{{!-- <ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol> --}}

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
  <div class="col-12">
  <div class="card">
    <div class="card-header home-post">
      <a class="post-title" href="/post/{{post.id}}">{{title}}</a>
      <span class="author">Posted by {{user.username}} on {{format_date created_at}}</span>
    </div>
    <div class="card-body">
      {{contents}}
    </div>
  </div>
    </li>
    {{/each}}
</ol>

{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}} 