{{!-- posts --}}
{{> post-info post }}
{{!-- 
 <ol class="post-list">
      {{#each posts as |posts|}}
      <li>
      <div class="col-12">
      <div class="card">
        <div class="card-header"> --}}

          {{!-- <a href="/dashboard/edit/{{id}}" class="edit-title">{{title}}</a> --}}
        
          {{!-- <a href="/dashboard/edit/{{post.id}}">{{title}}</a> --}}
          {{!-- <span class="title">{{title}}</span> --}}
          {{!-- <span class="author"> {{format_date created_at}}</span>
        </div>
      </div>
        </li>
        {{/each}}
  </ol> --}}

{{!-- <article class="post">
    <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{format_url post_url}})</span>
    </div>
    <div class="meta">
        Posted by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article> --}}

{{!-- form and comments --}}
{{#if loggedIn}}
 <div class="col-12">
  <div class="card">
    <div class="card-header"></div>
    <div class="comment-title">
      Comment
    </div>
      <form class="comment-form">
        <div>
          <textarea class="form-input" name="comment-body"></textarea>
        </div>

        <div>
          <button class="btn" type="submit">add comment</button>
        </div>
      </form>
  </div>
 </div>


{{/if}}

{{> comments post.comments}}

{{!-- to conditionally render the <script> element --}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}} 

  
<div>
    {{#each posts}}
    <a href="/dashboard/edit/{{id}}">
        <span>{{title}}</span>
        <span>{{format_date createdAt}}</span>
    </a>
    {{/each}}
</div>